body {
    color: rgb(10, 9, 9);
    background-color: #5b7d7f;
    font-family: Roboto, sans-serif;
    font-size: 20px;

}
.container {
    max-width: 550px;
    height: 100vh;
    border: 1px solid rgb(255, 255, 255);
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-rows: 1fr 2fr; 
    text-align: center;
    background-color: #4cf3ff;
    
}
.degrees {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    

}
.wind-speed {
    display: grid;
    grid-template-columns: 30px auto;
    justify-content: center;
}
a {
    margin: 0;
    color: #ffff;
}
.inner {
    margin: 0;
    padding: 0;
    background-color: #00767f;
    border-bottom: 5px solid #5b7d7f;
}
.weather-info {
    margin-top: -50px;
    font-size: 50px;
}
#temp {
    font-size: 90px;
}
#icon {
    width: 80px;

}

